@media (max-width: 769px) {
    main::after {
        background: linear-gradient(0deg, #000 20%, rgba(0, 0, 0, 0.00) 65%) no-repeat;
        width: 100vw;

    }

    main .personagem .imagem {
        height: 85%;
    }

    .conteudo {
        justify-content: flex-end;
        left: 0;
        top: -14%;
        max-width: 100vw;
        padding: 30px;
        
    }

    .conteudo .nome-personagem {
        font-size: 36px;
    }

    .conteudo .descricao {
        max-width: 360px;
    }

    .botoes {
        flex-direction: row;
        padding: 35px;
        width: 200px;

    }

    .botoes .botao img {
        max-width: 80px;
        height: auto;
    }

    .lista1, .lista2, li {
        padding-bottom: 35px;
    }
}

@media (max-width: 425px) {
    main .personagem .imagem {
        height: 50%;
        object-fit: cover;
    }

    .conteudo .logo {
        width: 170px;
        height: 75px;
        justify-content: center;        
    }

    .conteudo {
        top: -4%;
        max-height: 1100px;
        padding: 5px;
        max-width: 60%;
        margin-left: 86px;
        display: flex;
        /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);*/
        
        
    }

    .conteudo .nome-personagem {
        font-size: 30px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        margin-bottom: 200px;
    }
   
    .conteudo .descricao {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        max-width: 100%;
        font-size: 16px;
        font-weight: 500;
        max-height: 350px;  
        overflow:auto;
        margin-top: 90px;
        padding-bottom: 20px;
        text-align: center;
    }
   
    .descricao::-webkit-scrollbar {
        width: 12px; /* Largura da barra de rolagem */
    }

    .lista1, .lista2, .lista3, .lista4, .lista5, .lista6, li{
        margin: 0;
        padding: 0;
        padding-bottom: 4px;
        padding-top: 4px;
        padding-left: 4px;
        padding-right: 4px;
    }


    .botoes {
        justify-content: space-between;
        display: flex;
        width: 100%;
        gap: 0;
        bottom: -45%;
        margin: 0;
        padding: 0;
    }

    .botoes .botao img {
        max-width: 65px;


    }

    .paginacao {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        padding-right: 65px;
        padding-left: 65px;
        padding-bottom: 10px;
    }

    .paginacao .botaonext {
        width: 30px;
        height: 30px;
        
    }

    .paginacao .botaoprevious {
        width: 30px;
        height: 30px;
        
    }
}