body{
    background-color: #000000;
    overflow: hidden;
}

main::after{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 80vw;

    background: linear-gradient(
        -233deg, #000 22%, rgba(0, 0, 0, 0) 65%) no-repeat;
}

main .personagem{
    display: none;
    height: 100vh; 
}
main .personagem.selecionado{
    display: block;
    transition: opacity 0.3s ease;
}

main .personagem .imagem{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.conteudo {
    position: absolute;
    top: 0;
    left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 380px;
    z-index: 1;
}

.conteudo .nome-personagem{
    color: #ffffff;
    font-size: 48px;
    font-family: "Secular One";
    font-weight: 400;
    margin-bottom: 20px;
}

.conteudo .descricao{
    color: #ffffff;
    font-family: "rubik";
    font-size: 16px;
    line-height: 24px;
}

.conteudo .logo{
    background-image: url("../images/one-piece-logo.png");
    background-size:cover;
    height: 100px;
    width: 230px;
    margin-bottom: 55px;
}
.lista1, .lista2, .lista3, .lista4, .lista5, .lista6, li{
    margin: 0;
    padding: 0;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

.botoes{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    min-height: 100vh;
    width: 230px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.botoes .botao{
    border: none;
    background: #000000;
    cursor: pointer;
    border-radius: 50%;  
    object-fit: cover;
}

.botao img{
    width: 90px;
    height: 86px;
    border-radius: 50%;  
        
}

.botoes .botao.selecionado{
    transform: scale(1.2);
    box-shadow: 0 0 10px #d9d9d9;
}

.personagens01{
    display: flex;
    width: 100%;
}

.botao, .personagem {
    transition: all 0.3s ease; /* Define a propriedade 'transition' para suavizar as mudanças de estilo durante 0.3 segundos com uma transição suave ('ease') */
}

.paginacao{
    position: fixed;
    bottom:0;
    display: flexbox;
    width: 100%;
    margin-bottom: 15px;
    padding-left: 1190px;
}
.paginacao .botaonext{
    background-image: url('../images/right-arrow.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    cursor: pointer;

    
}
.botaonext{
    background: none;
    border: none;
    margin-left: 50px;
}
.paginacao .botaoprevious{
    background-image: url('../images/left-chevron.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    cursor: pointer;
    
    
}

.botaoprevious{
    background: none;
    border: none;
}
